---
interface Props {
  headerInfo: {
    isEmail?: boolean;
    name: string;
    isLink?: boolean;
    link?: string;
  };
}

const { headerInfo } = Astro.props;
---

{
  headerInfo.isEmail ? (
    <a href={`mailTo:${headerInfo.name}`}>{headerInfo.name}</a>
  ) : headerInfo.isLink ? (
    <a href={headerInfo.link}>{headerInfo.name}</a>
  ) : (
    headerInfo.name
  )
}
