---
import Seo from "../components/Seo.astro";
import Layout from "../layouts/Layout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout>
  <Seo
    slot="header"
    seo={{
      title: "Yash Ladha",
      description: "Hub to share interesting bits about software engineering.",
    }}
  />
  <div class="p-2">
    <content>
      <ul>
        {
          posts.map((post) => (
            <div>
              <a href={post.url} data-astro-prefetch class="transition-all text-blue-700 group p-2">
                <h3 class="group-hover:underline">{post.frontmatter.title}</h3>
                <p class="text-gray-800 group-hover:text-black">{post.frontmatter.description}</p>
              </a>
            </div>
          ))
        }
      </ul>
    </content>
  </div>
</Layout>
