---
import Seo from "../components/Seo.astro";
import Layout from "../layouts/Layout.astro";
import siteMetadata from "../static/siteMetadata.json";
---

<Layout>
  <Seo slot="header" seo={siteMetadata} />
  <main class="max-w-prose p-2 sm:p-0 sm:mx-auto">
    I'm always excited to work on new and interesting projects. If you have an idea or project that you think I could
    contribute to, I'd love to hear from you.

    <br /><br />
    My expertise spans a range of areas, including Distributed System, Scalability, Advanced Algorithms, Generative AI, SOLID
    principles and Software Craftsmanship. I'm passionate about collaborating with others to bring innovative solutions to
    life.

    <br /><br />

    Whether you're looking for a technical co-founder, need additional development support, or want to brainstorm a new
    concept together, I'm eager to explore the possibilities.

    <br /><br />

    Please feel free to reach out to me at <a href="mailto:yash@yashladha.in" class="text-blue-700 underline"
      >yash@yashladha.in</a
    >. I'm looking forward to connecting and seeing how we might be able to work together.
  </main>
</Layout>
