---
import Seo from "../components/Seo.astro";
import Layout from "../layouts/Layout.astro";
import siteMetadata from "../static/siteMetadata.json";
---

<Layout>
  <Seo slot="header" seo={siteMetadata} />
  <main>
    <div>
      In case you are resonating with the work that I did and have some interesting projects that I can be a part of,
      you can reach out to via email @:
      <a class="text-blue-500" href="mailto:yash@yashladha.in"> yash@yashladha.in. </a>
      <br />
      <br />
    </div>
  </main>
</Layout>
