---
import Seo from "../components/Seo.astro";
import Layout from "../layouts/Layout.astro";
import siteMetadata from "../static/siteMetadata.json";
---

<Layout>
  <Seo slot="header" seo={siteMetadata} />
  <main class="max-w-prose p-2 sm:p-0 sm:mx-auto">
    I'm always excited to work on new and interesting projects. Do you have an idea that you think I could contribute
    to? I'd love to hear from you!

    <br /><br />
    Areas of Expertise

    <br /><br />
    My skills span a range of technical areas, including:
    <ul class="list-disc list-inside">
      <li>Distributed Systems</li>
      <li>Scalability</li>
      <li>Advanced Algorithms</li>
      <li>Generative AI</li>
      <li>SOLID principles</li>
      <li>Software Craftsmanship</li>
    </ul>
    <br />

    I'm passionate about leveraging these skills to bring innovative solutions to life.
    Let's explore the possibilities together and create something amazing!
  </main>
</Layout>