---
import Seo from "../components/Seo.astro";
import siteMetadata from "../static/siteMetadata.json";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Seo slot="header" seo={siteMetadata} />
  <main class="p-2">
    <div class="font-bold text-4xl py-4 text-center">Hey, I am Yash</div>
    <div class="italic text-red-600 font-semibold text-center">Software Tinkerer, Innovator, and Leader</div>
    <p class="mb-4 md:relative max-w-prose mx-auto">
      I am a software engineer and an engineering leader passionate about System architecture, Language internals,
      Framework internals and Advanced Algorithms. I have also worked as an ex-collaborator on the <a
        href="https://github.com/nodejs/node"
        target="_blank"
        class="underline"
        rel="noreferrer nofollow">Node.js</a
      > project, where I helped improve the runtime and fix bugs.

      <br /><br />

      I have over 5 years of experience in building valuable software solutions. I've worked across the full stack -
      frontend, backend, and mobile development - leaving no area untouched. I've had the privilege of working with
      great companies like <a
        href="https://www.browserstack.com/"
        class="underline"
        target="_blank"
        rel="noreferrer nofollow">BrowserStack</a
      > and <a href="https://shipsy.io/" target="_blank" class="underline" rel="noreferrer nofollow">Shipsy</a>, helping
      them build impactful products for their customers.

      <br /><br />

      I'm an avid open-source <a href="https://github.com/yashLadha" target="_blank" rel="noreferrer nofollow"
        >contributor</a
      > and whenever I get the chance, I enjoy giving back to the community. I was a Google Summer of Code fellow with FOSSASIA,
      and I've also contributed to several popular open-source projects like <a
        href="https://github.com/nodejs/node"
        class="underline"
        target="_blank"
        rel="noreferrer nofollow">Node.js</a
      >, <a href="https://github.com/fossasia/badgeyay" class="underline" rel="noreferrer nofollow">BadgeYay</a> and <a
        href="https://github.com/sukeesh/Jarvis"
        class="underline"
        target="_blank"
        rel="noreferrer nofollow">Jarvis</a
      > - all of which have over 10,000 stars on their repositories.
    </p>
  </main>
</Layout>