---
import NavBarComponent from "./NavBarComponent.astro";
---

<div class="mx-auto w-full justify-center flex flex-row">
  <NavBarComponent>
    <a href="/">About</a>
  </NavBarComponent>
  <NavBarComponent>
    <a href="/projects">Projects</a>
  </NavBarComponent>
  <NavBarComponent>
    <a href="/blog">Blog</a>
  </NavBarComponent>
  <NavBarComponent>
    <a href="/contactme">Contact Me</a>
  </NavBarComponent>
</div>
