---
interface Props {
  link: string;
  cssStyles?: string;
}

const { link, cssStyles } = Astro.props;
const defaultLinkStyle =
  "capitalize transition font-bold duration-300 p-2 ease-in-out hover:bg-gray-200 hidden md:block self-center hover:underline rounded-md text-black";
const linkStyle = cssStyles || defaultLinkStyle;
---

<a href={link} data-astro-prefetch class={linkStyle}>
  <slot />
</a>
