---
interface Props {
  post?: {
    title: string;
    url: string;
    direction: "left" | "right";
  };
}

const { post } = Astro.props as Props;
---

{
  post && (
    <div
      id="post"
      class="flex-1/2 transition-shadow duration-300 ease-in-out md:p-4 p-2 mx-1 text-left hover:font-bold rounded-l-full rounded-r-full"
    >
      <a class="font-bold" href={post.url}>
        {post.direction === "left" ? `Prev:` : `Next:`} {post.title}
      </a>
    </div>
  )
}
