---
import { ModernNavBar } from "../components/ModernNavBar";
import "../styles/base.css";
import "../styles/globals.css";
import "@fontsource-variable/commissioner";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="header" />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <ModernNavBar client:load />
    <main class="container mx-auto px-4 py-8">
      <slot />
    </main>
  </body>
</html>