---
import NavBar from "../components/NavBar.astro";
import "../styles/base.css";
import "@fontsource-variable/commissioner";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="header" />
  </head>
  <body class="w-full sm:w-2/3 m-0 sm:mx-auto">
    <div class="container font-medium">
      <NavBar />
    </div>
    <div class="m-0 sm:mx-auto">
      <div class="container">
        <slot />
      </div>
    </div>
  </body>
</html>
