---
import NavBar from "../components/NavBar.astro";
import "../styles/base.css";
import "@fontsource-variable/assistant";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="header" />
  </head>
  <body>
    <div class="container font-medium mx-auto sm:w-1/2">
      <NavBar />
    </div>
    <div class="p-2 md:w-1/2 mx-auto">
      <div class="container mx-auto p-4">
        <slot />
      </div>
    </div>
  </body>
</html>
